<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hnjiandao.dao.OverallDataBodyMapper">

	<resultMap id="OverallDataBodyReportResultMap" type="com.hnjiandao.domain.OverallDataBodyReport">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="gnum" jdbcType="INTEGER" property="gnum" />
		<result column="item_no" jdbcType="VARCHAR" property="itemNo" />
		<result column="item_name" jdbcType="VARCHAR" property="itemName" />
		<result column="item_describe" jdbcType="VARCHAR" property="itemDescribe" />
		<result column="bar_code" jdbcType="VARCHAR" property="barCode" />
		<result column="unit" jdbcType="VARCHAR" property="unit" />
		<result column="qty" jdbcType="INTEGER" property="qty" />
		<result column="price" jdbcType="DOUBLE" property="price" />
		<result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
		<result column="currency" jdbcType="VARCHAR" property="currency" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="note" jdbcType="VARCHAR" property="note" />
		<result column="goodname" jdbcType="VARCHAR" property="goodname" />
		<result column="specifications" jdbcType="VARCHAR" property="specifications" />
		<result column="ciqbarcode" jdbcType="VARCHAR" property="ciqbarcode" />
		<result column="taxid" jdbcType="VARCHAR" property="taxid" />
		<result column="flag" jdbcType="CHAR" property="flag" />
		<result column="goodidinsp" jdbcType="VARCHAR" property="goodidinsp" />
		<result column="orderid" jdbcType="VARCHAR" property="orderid" />
		<result column="goodnameenglish" jdbcType="VARCHAR" property="goodnameenglish" />
		<result column="weigth" jdbcType="DOUBLE" property="weigth" />
		<result column="weightunit" jdbcType="VARCHAR" property="weightunit" />
		<result column="packcategoryinsp" jdbcType="VARCHAR" property="packcategoryinsp" />
		<result column="wasterornotinsp" jdbcType="CHAR" property="wasterornotinsp" />
		<result column="remarksinsp" jdbcType="VARCHAR" property="remarksinsp" />
		<result column="coininsp" jdbcType="VARCHAR" property="coininsp" />
		<result column="unitinsp" jdbcType="VARCHAR" property="unitinsp" />
		<result column="srccountryinsp" jdbcType="VARCHAR" property="srccountryinsp" />
		<result column="gno" jdbcType="VARCHAR" property="gno" />
		<result column="itemRecord_no" jdbcType="VARCHAR" property="itemrecordNo" />
		<result column="gcode" jdbcType="VARCHAR" property="gcode" />
		<result column="gmodel" jdbcType="VARCHAR" property="gmodel" />
		<result column="qty1" jdbcType="INTEGER" property="qty1" />
		<result column="qty2" jdbcType="INTEGER" property="qty2" />
		<result column="unit1" jdbcType="VARCHAR" property="unit1" />
		<result column="unit2" jdbcType="VARCHAR" property="unit2" />
		<result column="head_id" jdbcType="VARCHAR" property="headId" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="update_time" jdbcType="VARCHAR" property="updateTime" />
	</resultMap>

	<resultMap id="BaseResultMap" type="com.hnjiandao.domain.OverallDataBody">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="gnum" jdbcType="INTEGER" property="gnum" />
		<result column="item_no" jdbcType="VARCHAR" property="itemNo" />
		<result column="item_name" jdbcType="VARCHAR" property="itemName" />
		<result column="item_describe" jdbcType="VARCHAR" property="itemDescribe" />
		<result column="bar_code" jdbcType="VARCHAR" property="barCode" />
		<result column="unit" jdbcType="VARCHAR" property="unit" />
		<result column="qty" jdbcType="INTEGER" property="qty" />
		<result column="price" jdbcType="DOUBLE" property="price" />
		<result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
		<result column="currency" jdbcType="VARCHAR" property="currency" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="note" jdbcType="VARCHAR" property="note" />
		<result column="goodname" jdbcType="VARCHAR" property="goodname" />
		<result column="specifications" jdbcType="VARCHAR" property="specifications" />
		<result column="ciqbarcode" jdbcType="VARCHAR" property="ciqbarcode" />
		<result column="taxid" jdbcType="VARCHAR" property="taxid" />
		<result column="flag" jdbcType="CHAR" property="flag" />
		<result column="goodidinsp" jdbcType="VARCHAR" property="goodidinsp" />
		<result column="orderid" jdbcType="VARCHAR" property="orderid" />
		<result column="goodnameenglish" jdbcType="VARCHAR" property="goodnameenglish" />
		<result column="weigth" jdbcType="DOUBLE" property="weigth" />
		<result column="weightunit" jdbcType="VARCHAR" property="weightunit" />
		<result column="packcategoryinsp" jdbcType="VARCHAR" property="packcategoryinsp" />
		<result column="wasterornotinsp" jdbcType="CHAR" property="wasterornotinsp" />
		<result column="remarksinsp" jdbcType="VARCHAR" property="remarksinsp" />
		<result column="coininsp" jdbcType="VARCHAR" property="coininsp" />
		<result column="unitinsp" jdbcType="VARCHAR" property="unitinsp" />
		<result column="srccountryinsp" jdbcType="VARCHAR" property="srccountryinsp" />
		<result column="gno" jdbcType="VARCHAR" property="gno" />
		<result column="itemRecord_no" jdbcType="VARCHAR" property="itemrecordNo" />
		<result column="gcode" jdbcType="VARCHAR" property="gcode" />
		<result column="gmodel" jdbcType="VARCHAR" property="gmodel" />
		<result column="qty1" jdbcType="INTEGER" property="qty1" />
		<result column="qty2" jdbcType="INTEGER" property="qty2" />
		<result column="unit1" jdbcType="VARCHAR" property="unit1" />
		<result column="unit2" jdbcType="VARCHAR" property="unit2" />
		<result column="head_id" jdbcType="VARCHAR" property="headId" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="update_time" jdbcType="VARCHAR" property="updateTime" />
	</resultMap>

	<sql id="BodyReport_Column_List">
		gnum, item_no, item_name,unit, qty, price, total_price,
		currency, country,specifications, ciqbarcode,goodidinsp,
		flag,packcategoryinsp,
		coininsp,unitinsp,srccountryinsp, gno
	</sql>


	<sql id="Base_Column_List">
		id, gnum, item_no, item_name, item_describe, bar_code,
		unit, qty, price,
		total_price,
		currency, country, note, goodname,
		specifications, ciqbarcode, taxid, flag,
		goodidinsp,
		orderid,
		goodnameenglish, weigth, weightunit, packcategoryinsp,
		wasterornotinsp,
		remarksinsp, coininsp, unitinsp, srccountryinsp, gno,
		itemRecord_no, gcode,
		gmodel,
		qty1, qty2, unit1, unit2, head_id,
		create_time, update_time
	</sql>

	<select id="selectOverallDataBodyReportByOrderId" parameterType="java.lang.String"
		resultMap="OverallDataBodyReportResultMap">
		select
		<include refid="BodyReport_Column_List"/>
		from overall_data_body
		where orderid = #{orderid,jdbcType=VARCHAR}
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from overall_data_body
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		overall_data_body
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteByOrderId" parameterType="java.lang.String">
		delete from
		overall_data_body
		where orderid = #{orderid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.hnjiandao.domain.OverallDataBody">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Aug 26 
			09:39:02 CST 2016. -->
		insert into overall_data_body (id, gnum, item_no,
		item_name,
		item_describe, bar_code,
		unit, qty, price, total_price,
		currency,
		country, note,
		goodname, specifications, ciqbarcode,
		taxid, flag,
		goodidinsp,
		orderid, goodnameenglish, weigth,
		weightunit,
		packcategoryinsp, wasterornotinsp,
		remarksinsp, coininsp, unitinsp,
		srccountryinsp, gno, itemRecord_no,
		gcode, gmodel, qty1,
		qty2, unit1,
		unit2,
		head_id, create_time, update_time
		)
		values
		(#{id,jdbcType=VARCHAR}, #{gnum,jdbcType=INTEGER},
		#{itemNo,jdbcType=VARCHAR},
		#{itemName,jdbcType=VARCHAR},
		#{itemDescribe,jdbcType=VARCHAR}, #{barCode,jdbcType=VARCHAR},
		#{unit,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER},
		#{price,jdbcType=DOUBLE}, #{total_price,jdbcType=DOUBLE},
		#{currency,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR},
		#{goodname,jdbcType=VARCHAR},
		#{specifications,jdbcType=VARCHAR}, #{ciqbarcode,jdbcType=VARCHAR},
		#{taxid,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR},
		#{goodidinsp,jdbcType=VARCHAR},
		#{orderid,jdbcType=VARCHAR},
		#{goodnameenglish,jdbcType=VARCHAR}, #{weigth,jdbcType=DOUBLE},
		#{weightunit,jdbcType=VARCHAR}, #{packcategoryinsp,jdbcType=VARCHAR},
		#{wasterornotinsp,jdbcType=CHAR},
		#{remarksinsp,jdbcType=VARCHAR},
		#{coininsp,jdbcType=VARCHAR}, #{unitinsp,jdbcType=VARCHAR},
		#{srccountryinsp,jdbcType=VARCHAR}, #{gno,jdbcType=VARCHAR},
		#{itemrecordNo,jdbcType=VARCHAR},
		#{gcode,jdbcType=VARCHAR},
		#{gmodel,jdbcType=VARCHAR}, #{qty1,jdbcType=INTEGER},
		#{qty2,jdbcType=INTEGER}, #{unit1,jdbcType=VARCHAR},
		#{unit2,jdbcType=VARCHAR},
		#{headId,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hnjiandao.domain.OverallDataBody">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Aug 26 
			09:39:02 CST 2016. -->
		insert into overall_data_body
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="gnum != null">
				gnum,
			</if>
			<if test="itemNo != null">
				item_no,
			</if>
			<if test="itemName != null">
				item_name,
			</if>
			<if test="itemDescribe != null">
				item_describe,
			</if>
			<if test="barCode != null">
				bar_code,
			</if>
			<if test="unit != null">
				unit,
			</if>
			<if test="qty != null">
				qty,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="totalPrice != null">
				total_price,
			</if>
			<if test="currency != null">
				currency,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="note != null">
				note,
			</if>
			<if test="goodname != null">
				goodname,
			</if>
			<if test="specifications != null">
				specifications,
			</if>
			<if test="ciqbarcode != null">
				ciqbarcode,
			</if>
			<if test="taxid != null">
				taxid,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="goodidinsp != null">
				goodidinsp,
			</if>
			<if test="orderid != null">
				orderid,
			</if>
			<if test="goodnameenglish != null">
				goodnameenglish,
			</if>
			<if test="weigth != null">
				weigth,
			</if>
			<if test="weightunit != null">
				weightunit,
			</if>
			<if test="packcategoryinsp != null">
				packcategoryinsp,
			</if>
			<if test="wasterornotinsp != null">
				wasterornotinsp,
			</if>
			<if test="remarksinsp != null">
				remarksinsp,
			</if>
			<if test="coininsp != null">
				coininsp,
			</if>
			<if test="unitinsp != null">
				unitinsp,
			</if>
			<if test="srccountryinsp != null">
				srccountryinsp,
			</if>
			<if test="gno != null">
				gno,
			</if>
			<if test="itemrecordNo != null">
				itemRecord_no,
			</if>
			<if test="gcode != null">
				gcode,
			</if>
			<if test="gmodel != null">
				gmodel,
			</if>
			<if test="qty1 != null">
				qty1,
			</if>
			<if test="qty2 != null">
				qty2,
			</if>
			<if test="unit1 != null">
				unit1,
			</if>
			<if test="unit2 != null">
				unit2,
			</if>
			<if test="headId != null">
				head_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="gnum != null">
				#{gnum,jdbcType=INTEGER},
			</if>
			<if test="itemNo != null">
				#{itemNo,jdbcType=VARCHAR},
			</if>
			<if test="itemName != null">
				#{itemName,jdbcType=VARCHAR},
			</if>
			<if test="itemDescribe != null">
				#{itemDescribe,jdbcType=VARCHAR},
			</if>
			<if test="barCode != null">
				#{barCode,jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=VARCHAR},
			</if>
			<if test="qty != null">
				#{qty,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="totalPrice != null">
				#{totalPrice,jdbcType=DOUBLE},
			</if>
			<if test="currency != null">
				#{currency,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				#{note,jdbcType=VARCHAR},
			</if>
			<if test="goodname != null">
				#{goodname,jdbcType=VARCHAR},
			</if>
			<if test="specifications != null">
				#{specifications,jdbcType=VARCHAR},
			</if>
			<if test="ciqbarcode != null">
				#{ciqbarcode,jdbcType=VARCHAR},
			</if>
			<if test="taxid != null">
				#{taxid,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=CHAR},
			</if>
			<if test="goodidinsp != null">
				#{goodidinsp,jdbcType=VARCHAR},
			</if>
			<if test="orderid != null">
				#{orderid,jdbcType=VARCHAR},
			</if>
			<if test="goodnameenglish != null">
				#{goodnameenglish,jdbcType=VARCHAR},
			</if>
			<if test="weigth != null">
				#{weigth,jdbcType=DOUBLE},
			</if>
			<if test="weightunit != null">
				#{weightunit,jdbcType=VARCHAR},
			</if>
			<if test="packcategoryinsp != null">
				#{packcategoryinsp,jdbcType=VARCHAR},
			</if>
			<if test="wasterornotinsp != null">
				#{wasterornotinsp,jdbcType=CHAR},
			</if>
			<if test="remarksinsp != null">
				#{remarksinsp,jdbcType=VARCHAR},
			</if>
			<if test="coininsp != null">
				#{coininsp,jdbcType=VARCHAR},
			</if>
			<if test="unitinsp != null">
				#{unitinsp,jdbcType=VARCHAR},
			</if>
			<if test="srccountryinsp != null">
				#{srccountryinsp,jdbcType=VARCHAR},
			</if>
			<if test="gno != null">
				#{gno,jdbcType=VARCHAR},
			</if>
			<if test="itemrecordNo != null">
				#{itemrecordNo,jdbcType=VARCHAR},
			</if>
			<if test="gcode != null">
				#{gcode,jdbcType=VARCHAR},
			</if>
			<if test="gmodel != null">
				#{gmodel,jdbcType=VARCHAR},
			</if>
			<if test="qty1 != null">
				#{qty1,jdbcType=INTEGER},
			</if>
			<if test="qty2 != null">
				#{qty2,jdbcType=INTEGER},
			</if>
			<if test="unit1 != null">
				#{unit1,jdbcType=VARCHAR},
			</if>
			<if test="unit2 != null">
				#{unit2,jdbcType=VARCHAR},
			</if>
			<if test="headId != null">
				#{headId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hnjiandao.domain.OverallDataBody">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Aug 26 
			09:39:02 CST 2016. -->
		update overall_data_body
		<set>
			<if test="gnum != null">
				gnum = #{gnum,jdbcType=INTEGER},
			</if>
			<if test="itemNo != null">
				item_no = #{itemNo,jdbcType=VARCHAR},
			</if>
			<if test="itemName != null">
				item_name = #{itemName,jdbcType=VARCHAR},
			</if>
			<if test="itemDescribe != null">
				item_describe = #{itemDescribe,jdbcType=VARCHAR},
			</if>
			<if test="barCode != null">
				bar_code = #{barCode,jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				unit = #{unit,jdbcType=VARCHAR},
			</if>
			<if test="qty != null">
				qty = #{qty,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="totalPrice != null">
				total_price = #{totalPrice,jdbcType=DOUBLE},
			</if>
			<if test="currency != null">
				currency = #{currency,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				country = #{country,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				note = #{note,jdbcType=VARCHAR},
			</if>
			<if test="goodname != null">
				goodname = #{goodname,jdbcType=VARCHAR},
			</if>
			<if test="specifications != null">
				specifications = #{specifications,jdbcType=VARCHAR},
			</if>
			<if test="ciqbarcode != null">
				ciqbarcode = #{ciqbarcode,jdbcType=VARCHAR},
			</if>
			<if test="taxid != null">
				taxid = #{taxid,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=CHAR},
			</if>
			<if test="goodidinsp != null">
				goodidinsp = #{goodidinsp,jdbcType=VARCHAR},
			</if>
			<if test="orderid != null">
				orderid = #{orderid,jdbcType=VARCHAR},
			</if>
			<if test="goodnameenglish != null">
				goodnameenglish = #{goodnameenglish,jdbcType=VARCHAR},
			</if>
			<if test="weigth != null">
				weigth = #{weigth,jdbcType=DOUBLE},
			</if>
			<if test="weightunit != null">
				weightunit = #{weightunit,jdbcType=VARCHAR},
			</if>
			<if test="packcategoryinsp != null">
				packcategoryinsp = #{packcategoryinsp,jdbcType=VARCHAR},
			</if>
			<if test="wasterornotinsp != null">
				wasterornotinsp = #{wasterornotinsp,jdbcType=CHAR},
			</if>
			<if test="remarksinsp != null">
				remarksinsp = #{remarksinsp,jdbcType=VARCHAR},
			</if>
			<if test="coininsp != null">
				coininsp = #{coininsp,jdbcType=VARCHAR},
			</if>
			<if test="unitinsp != null">
				unitinsp = #{unitinsp,jdbcType=VARCHAR},
			</if>
			<if test="srccountryinsp != null">
				srccountryinsp = #{srccountryinsp,jdbcType=VARCHAR},
			</if>
			<if test="gno != null">
				gno = #{gno,jdbcType=VARCHAR},
			</if>
			<if test="itemrecordNo != null">
				itemRecord_no = #{itemrecordNo,jdbcType=VARCHAR},
			</if>
			<if test="gcode != null">
				gcode = #{gcode,jdbcType=VARCHAR},
			</if>
			<if test="gmodel != null">
				gmodel = #{gmodel,jdbcType=VARCHAR},
			</if>
			<if test="qty1 != null">
				qty1 = #{qty1,jdbcType=INTEGER},
			</if>
			<if test="qty2 != null">
				qty2 = #{qty2,jdbcType=INTEGER},
			</if>
			<if test="unit1 != null">
				unit1 = #{unit1,jdbcType=VARCHAR},
			</if>
			<if test="unit2 != null">
				unit2 = #{unit2,jdbcType=VARCHAR},
			</if>
			<if test="headId != null">
				head_id = #{headId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hnjiandao.domain.OverallDataBody">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Aug 26 
			09:39:02 CST 2016. -->
		update overall_data_body
		set gnum = #{gnum,jdbcType=INTEGER},
		item_no =
		#{itemNo,jdbcType=VARCHAR},
		item_name = #{itemName,jdbcType=VARCHAR},
		item_describe = #{itemDescribe,jdbcType=VARCHAR},
		bar_code =
		#{barCode,jdbcType=VARCHAR},
		unit = #{unit,jdbcType=VARCHAR},
		qty =
		#{qty,jdbcType=INTEGER},
		price = #{price,jdbcType=DOUBLE},
		total_price =
		#{totalPrice,jdbcType=DOUBLE},
		currency = #{currency,jdbcType=VARCHAR},
		country = #{country,jdbcType=VARCHAR},
		note = #{note,jdbcType=VARCHAR},
		goodname = #{goodname,jdbcType=VARCHAR},
		specifications =
		#{specifications,jdbcType=VARCHAR},
		ciqbarcode =
		#{ciqbarcode,jdbcType=VARCHAR},
		taxid = #{taxid,jdbcType=VARCHAR},
		flag
		= #{flag,jdbcType=CHAR},
		goodidinsp = #{goodidinsp,jdbcType=VARCHAR},
		orderid = #{orderid,jdbcType=VARCHAR},
		goodnameenglish =
		#{goodnameenglish,jdbcType=VARCHAR},
		weigth =
		#{weigth,jdbcType=DOUBLE},
		weightunit = #{weightunit,jdbcType=VARCHAR},
		packcategoryinsp = #{packcategoryinsp,jdbcType=VARCHAR},
		wasterornotinsp = #{wasterornotinsp,jdbcType=CHAR},
		remarksinsp =
		#{remarksinsp,jdbcType=VARCHAR},
		coininsp =
		#{coininsp,jdbcType=VARCHAR},
		unitinsp = #{unitinsp,jdbcType=VARCHAR},
		srccountryinsp = #{srccountryinsp,jdbcType=VARCHAR},
		gno =
		#{gno,jdbcType=VARCHAR},
		itemRecord_no =
		#{itemrecordNo,jdbcType=VARCHAR},
		gcode = #{gcode,jdbcType=VARCHAR},
		gmodel = #{gmodel,jdbcType=VARCHAR},
		qty1 = #{qty1,jdbcType=INTEGER},
		qty2 = #{qty2,jdbcType=INTEGER},
		unit1 = #{unit1,jdbcType=VARCHAR},
		unit2 = #{unit2,jdbcType=VARCHAR},
		head_id =
		#{headId,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=VARCHAR},
		update_time =
		#{updateTime,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>